.remove-btn {
    margin-right: 0.5rem;
}

.fade-enter {
    opacity: 0.01;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0.01;
    transition: opacity 1000ms ease-in;
}

main {
    min-height: 100vh;
    margin-bottom: 3rem;
}

.react-scrolltop-button {
    border-radius: 50%;
    text-transform: uppercase;
}


button.react-scrolltop-button {
    border-radius: 50%;
    background: #79CC7D;
    border: none;
    color: #fff;
}