#btnAddRecipe a {
    font-size: 18px;
    padding: 0px;
    color: #fff;
    transition: .4s all;
}

#btnAddRecipe {
    margin-left: 20px;
}


#btnAddRecipe a:hover {
    color: #abc;
}

#header a {
    text-decoration: none;
    padding-top: 0;
    margin-right: 20px;
}