.containerRecipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainInformation {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title h2 {
    font-size: 2.5rem;
}

.title {
    margin-bottom: 20px;
}

.contentImg img {
    width: 700px;
    height: auto;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}

.ingredients {
    width: 100%;
    background: #C0C6CC;
    padding: 10px 20px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.ingredients ul {
    list-style: none;
    text-align: left;
    margin-left: 30px;
}

.ingredients ul li {
    margin-bottom: 5px;
}

.ingredients ul li:last-child {
    margin-bottom: 0px;
}

.loveFood {
    font-size: 22px;
    margin: 20px 0;
    color: rgba(43, 199, 50, 0.808);
}

.contentRecipe h3, .contentRecipe p  {
    text-align: left;
}

.containerRecipe .boxDescription {
    margin-top: 20px;
}

.contentRecipe p {
    margin-left: 30px;
    text-indent: 20px;
}

.instructionsContainer {
    margin-top: 20px;
}

.instructionsContainer p {
    text-align: center;
    margin-left: 0px;
    text-indent: 0px;
    margin-bottom: 0px;
}

.instructionsContainer .box:first-child {
    margin-top: 20px;
}

.instructionsContainer .box {
    margin: 40px 0;
}

.instructionsContainer .box img {
    margin-top: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}


.instructionsContainer .box p:first-child {
    font-weight: bold;
    font-size: 18px;
}
